.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    background: lightgrey;
    padding: 20px 0;
    height: 100vh;
    min-width: 160px;
}

.dialog {
    margin-bottom: 10px;
    padding: 5px 20px;
}
.status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    margin-right: 10px;
}
.status.active {
    background: green;
}
.dialog.active {
color: dodgerblue;
}
.messages {
    position: relative;
}
.newMessage {
    position: fixed;
    bottom: 0;
    padding: 10px;
    margin: 0 10px;
    background-color: lightgrey;
    width: 50%;
    height: auto;
}
.newMessage textarea {
    width: 100%;
    padding: 10px;
    display: block;
    font-size: 14px;
    min-height: 60px;
    height: auto;
    white-space: pre-wrap;
}

.newMessage button {
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
